<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueBrick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlueBrick.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="WheelMouseZoomSpeed" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="WheelMouseIsZoomOnCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddGridLayerOnNewMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddBrickLayerOnNewMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UndoStackDepth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultGridColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultBackgroundColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="DefaultTextFont" serializeAs="String">
                <value>Arial, 18pt</value>
            </setting>
            <setting name="DefaultTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultSubGridColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="DefaultLUG" serializeAs="String">
                <value>***NotInitialized***</value>
            </setting>
            <setting name="DefaultShow" serializeAs="String">
                <value>***NotInitialized***</value>
            </setting>
            <setting name="DefaultAuthor" serializeAs="String">
                <value>***NotInitialized***</value>
            </setting>
            <setting name="UndoStackDisplayedDepth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MouseMultipleSelectionKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="MouseZoomPanKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DefaultGridSize" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="DefaultSubDivisionNumber" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultAreaSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="DefaultAreaTransparency" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DisplayFreeConnexionPoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartSavedMipmapLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShortcutKey" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>65|1||</string>
                        <string>72|1||</string>
                        <string>67|4||</string>
                        <string>68|5||</string>
                        <string>69|6||</string>
                        <string>70|7||</string>
                        <string>36|3||</string>
                        <string>51|3||</string>
                        <string>37|2||</string>
                        <string>66|8||</string>
                        <string>76|9||</string>
                        <string>75|10||</string>
                        <string>23|0|32087.8|0</string>
                        <string>18|0|2865.8|0</string>
                        <string>11|0|2867.8|1</string>
                        <string>17|0|2867.8|0</string>
                        <string>24|0|2861.8|0</string>
                        <string>10|0|2859.8|0</string>
                        <string>5|0|FLEX.GROUP|0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MouseDuplicateSelectionKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxRecentFilesNum" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GammaForSelection" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="GammaForSnappingPart" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="UIMainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UIMainFormSize" serializeAs="String">
                <value>648, 545</value>
            </setting>
            <setting name="UIMainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UIPartListFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UIPartListFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UIPartListFormSize" serializeAs="String">
                <value>446, 577</value>
            </setting>
            <setting name="UISnapGridEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UISnapGridSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UIRotationStep" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="UIPartListFormIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UIToolbarIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIStatusbarIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIPaintColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="UIIsEraserToolSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIMainSplitContainerDistance" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="UIToolSplitContainerDistance" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="PartLibTabOrder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Baseplate</string>
                        <string>Road</string>
                        <string>Track</string>
                        <string>Train</string>
                        <string>Town</string>
                        <string>Space</string>
                        <string>Table</string>
                        <string>Custom</string>
                        <string>Logo</string>
                        <string>Duplo</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PartLibBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PartLibDisplayBubbleInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartLibBubbleInfoPartID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartLibBubbleInfoPartColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartLibBubbleInfoPartDescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIPartLibDisplayConfig" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Baseplate11</string>
                        <string>Road11</string>
                        <string>Track10</string>
                        <string>Train Set11</string>
                        <string>Town10</string>
                        <string>Train10</string>
                        <string>Space10</string>
                        <string>Castle10</string>
                        <string>Table10</string>
                        <string>Custom10</string>
                        <string>Logo10</string>
                        <string>Duplo10</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DisplayGeneralInfoWatermark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayElectricCircuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultGridEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSubGridEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIViewScale" serializeAs="String">
                <value>1.7</value>
            </setting>
            <setting name="PartLibFilteredBackColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="UIPartLibSelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UIRulerToolSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayBrickHull" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OffsetAfterCopyStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetAfterCopyValue" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DisplayWarningMessageForNotSavingInBBM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddTextLayerOnNewMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddAreaLayerOnNewMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddRulerLayerOnNewMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RulerControlPointRadiusInPixel" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DisplayRulerAttachPoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchToEditionAfterRulerCreation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulerDefaultLineThickness" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RulerDefaultLineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RulerDefaultAllowOffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulerDefaultDashPatternLine" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RulerDefaultDashPatternSpace" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RulerDefaultGuidelineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RulerDefaultGuidelineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RulerDefaultDisplayUnit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulerDefaultDisplayMeasureText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RulerDefaultUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RulerDefaultFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RulerDefaultFont" serializeAs="String">
                <value>Arial, 15.75pt</value>
            </setting>
            <setting name="UIFilterAllLibraryTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UIFilterAllSentence" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayOtherHull" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrickHullColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OtherHullColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WatermarkFont" serializeAs="String">
                <value>Arial Narrow, 9.75pt</value>
            </setting>
            <setting name="WatermarkBackgroundColor" serializeAs="String">
                <value>119, 255, 255, 255</value>
            </setting>
            <setting name="WatermarkColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UIExportWatermark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIExportHulls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UIExportElectricCircuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UIExportConnection" serializeAs="String">
                <value>False</value>
            </setting>
        </BlueBrick.Properties.Settings>
    </userSettings>
</configuration>